/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    user-select: none;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* site styles */

body {
    background-image: url('./images/bg.jpg');
}

.layout {
    align-items: center;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    height: calc(100vh - 100px);
    margin: 50px;
    width: calc(100vw - 100px);
}

.an-watch-face {
    align-items: center;
    background-color: rgba(80, 80, 80, 0.8);
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: min(80vh, 80vw);
    width: min(80vh, 80vw);
}

.clock-center {
    background-color: #fff;
    border-radius: 50%;
    height: 10px;
    overflow: visible;
    position: relative;
    width: 10px;
}

.hand {
    background-color: #fff;
    position: absolute;
    left: 5px;
    height: 4px;
    top: 3px;
    transform-origin: left;
    transform: rotate(-90deg);
}
.second {
    width: min(35vh, 35vw);
}

.minute {
    width: min(30vh, 30vw);
}

.hour {
    width: min(25vh, 25vw);
}   

.di-watch-face {
    background-color: rgba(80, 80, 80, 0.8);
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 5%;
    padding: 20px;
    width: fit-content;
}

.digital-watch {
    color: #fff;
    font-family: 'DM Mono', monospace;
    font-size: 48px;
}

.mike-button, .weather-display {
    background-color: #fff;
    border: none;
    border-radius: 5%;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    padding: 5px 20px;
    position: absolute;
    top: 20px;
}

.mike-button {
    cursor: pointer;
    right: 20px;
}

.weather-display {
    left: 20px;
}

.mike-button:active {
    transform: scale(0.8);
}


/* weather animations */
/* sun */

@-webkit-keyframes sun-scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}

@-webkit-keyframes sun-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes sun-scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}

@keyframes sun-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.sun {
    background-color: transparent;
    display: none;
    position: absolute;
    z-index: -1;
    -webkit-animation-name: sun-scale, sun-rotate;
    -webkit-animation-duration: 5s, 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: sun-scale, sun-rotate;
    animation-duration: 5s, 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

/* cloud styling */

@-webkit-keyframes cloud-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes cloud-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.cloud {
    background-color: #fff;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
}

.cloud::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    height: 100%;
    left: 15%;
    position: absolute;
    top: -50%;
    width: 33%;
}

.cloud::before {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    height: 150%;
    position: absolute;
    right: 10%;
    top: -80%;
    width: 60%;
}

.cloud:nth-of-type(1) {
    animation: cloud-move 6.3s infinite;
    border-radius: 6vw;
    height: 4vw;
    width: 12vw;
    top: 20%;
    left: 15%;
}

.cloud:nth-of-type(2) {
    animation: cloud-move 9s infinite;
    border-radius: 7.5vw;
    height: 5vw;
    width: 15vw;
    top: 40%;
    right: 10%;
}

.cloud:nth-of-type(3) {
    animation: cloud-move 5s infinite;
    border-radius: 4.5vw;
    height: 3vw;
    width: 9vw;
    top: 50%;
    left: 35%;
}


/* droplet styling */
.droplet {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
@-webkit-keyframes droplets-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}

@-webkit-keyframes snowflake-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    50% {
        -webkit-transform:translateX(80px);
        transform:translateX(80px);
    }

    100% {
        -webkit-transform:translateX(0px);
        transform:translateX(0px);
    }
}

@keyframes droplets-fall {
    0% {
        top:-10%;
    }
    
    100% {
        top:100%;
    }
}

@keyframes snowflake-shake {
    0% {
        transform:translateX(0px);
    }
    
    50% {
        transform:translateX(80px);
    }
    
    100% {
        transform:translateX(0px);
    }
}
  
.droplet {
    display: none;
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: droplets-fall, droplets-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: droplets-fall, droplets-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.droplet:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s,0s;
    animation-delay: 0s, 0s
}

.droplet:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.droplet:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.droplet:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.droplet:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.droplet:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.droplet:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.droplet:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.droplet:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.droplet:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}
